/* --------- PIE --------- */

footer {
    background-color: #616161;
    text-align: center;
    padding: 60px;
}


.footerGrid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    section {
        max-width: 530px;
        padding: 0px;
    }
}


.formasContacto {
    form {
        vertical-align: top;
        padding: 0px;
        width: 90%;
        display: inline-block;
    }

    div {
        overflow-wrap: anywhere;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;

        &:hover {
            filter: invert(100);
        }
    }

    h1 {
        font-size: 2.4em;
        text-align: center;
        margin: 0px;
        padding: 10px 0px 30px;
    }

    img {
        height: 40px;
        padding: 0px;
        transition: 0.2s;
    }

    a {
        color: black;
    }
}


/* ------- FIN PIE ------- */