/* ----------- RESETEOS Y BASICOS ----------- */
* {
    margin: 0;
    padding: 10px;
    color: black;
    /* Testeo. Pongo el border en 1 para testeo interno */
    border: 0px solid black;
}

html {
    font-size: 1rem;
    padding: 0px;
}

body {
    padding: 0px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans', sans-serif;
}

/* Nota: Los H1 dentro de un Section tienen un tamaño predeterminado de 1.5em que es distinto al predeterminado fuera de un Section (2em). Por eso lo fuerzo aqui */
h1 {
    font-size: 2em;
}

a {
    color: white;
    text-decoration: none;
}

/* ayuda reutilizable para que los elementos no superen los 1200px (convertidos a rem) y si la pantalla es mas grande para que queden centrados. Esto hace que sea mas comoda la lectura en pantallas muy anchas. 
*/
.redondeoVisual {
    margin: auto;
    max-width: 75rem;
}

/* --------- FIN RESETEOS Y BASICOS --------- */





/* --------- HEADER --------- */

.cabecera {
    position: sticky;
    top: 0px;
    display: flex;
    background-color: rgb(47, 47, 161);
    padding: 0px;
}

.cabeceraLogo {
    flex: 1;
}

.cabeceraLogo img {
    height: 40px;
}

.menuHamburguesa img {
    height: 25px;
}

nav {
    flex: 1;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

/* ------- FIN HEADER ------- */





/* --------- HERO --------- */

.imagenPrincipal {
    height: 85vh;
    background-image: url(../images/aplicacion3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ------- FIN HERO ------- */





/* --------- TITULO --------- */

h1 {
    text-align: justify;
    margin: 20px 0px;
    padding: 0px 30px;
    text-align: center;

}

/* ------- FIN TITULO ------- */





/* --------- DESCRIPCION --------- */

.seccionDescripcion {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.contenido {
    text-align: justify;
    margin: 20px 0px;
    padding: 0px 30px;
    font-size: 1.25rem;
    line-height: 1.6;
}

.contenido li {
    padding: 20px;
}

.contenido li p {
    border-radius: 25px;
    background: #F2F2F2;
    padding: 30px;
    color: rgb(47, 47, 161);
}

.contenido Table {
    margin-left: auto;
    margin-right: auto;
}

.contenido div {
    margin-left: auto;
    margin-right: auto;
}


/*   Planes   */
#planes-contenedor {
    padding: 50px;
}

.planes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
    grid-auto-rows: auto;
    grid-gap: 25px;
}


section {
    padding: 20px;
}

section .planes {
    /* Sombra y bordes redondeados*/
    background-color: #f8f8f8;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 6px;
}

section h4 {
    font-size: 1.3rem;
    color: rgb(47, 47, 161);
    padding-bottom: 20px;
}

/* Fin Planes */






/* ------- FIN DESCRIPCION ------- */





/* --------- ASIDE --------- */

aside {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
    /* Nota: Es lo mismo poner flex: 0 1 25%; */
    padding: 30px;
    line-height: 1.3;
}

aside img {
    max-width: 100%;
    height: auto;
    padding: 0px;
    margin-bottom: 30px;
}

aside iframe {
    max-width: 100%;
    height: auto;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 60px;
}

aside p {
    text-align: justify;
    padding: 0px;
    padding-bottom: 30px;
}

aside h3 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

/* ------- FIN ASIDE ------- */





/* --------- PIE --------- */

footer {
    background-color: #616161;
    text-align: center;
    padding: 60px;
}

.footerGrid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.footerGrid section {
    max-width: 530px;
}

.formasContacto form {
    vertical-align: top;
    padding: 0px;
    width: 90%;
    display: inline-block;
}

.formasContacto div {
    overflow-wrap: anywhere;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formasContacto h1 {
    font-size: 2.4em;
    text-align: center;
    margin: 0px;
    padding: 10px 0px 30px;
}

.formasContacto img {
    height: 40px;
    padding: 0px;
}

.formasContacto a {
    color: black;
}

/* ------- FIN PIE ------- */








/* ----------- MEDIA QUERIES ----------- */

/* Vista Desktop: Oculta Menu Hamburguesa, Muestra Menu Completo */
@media screen and (min-width: 820px) {
    .menuHamburguesa {
        display: none;
    }
}


/* Vista Tablet y Mobile: Muestra Hamburguesa, Achica la tipografía del Newsletter */
@media screen and (max-width: 820px) {
    .menuCompleto {
        display: none;
    }

    .menuHamburguesa {
        display: flex;
    }

    .formasContacto h1 {
        font-size: 2em;
    }
}


/* Vista Mobile: Achica más la tipografía del Newsletter, El h3 del aside (si hay) en queda sin top padding para que no haya gran espacio en blanco cuando los bloques están apilados (descripcion y aside) */
@media screen and (max-width: 640px) {
    .formasContacto h1 {
        font-size: 1.5em;
    }

    aside h3 {
        padding-top: 0px;
    }
}


/* Vista Mobile: lleva el Aside hacia abajo */
@media screen and (min-width: 640px) {

    .contenedorFlex {
        display: flex;
    }
}

/* --------- FIN MEDIA QUERIES --------- */





/* ------- FORMULARIOS ------- */

.formularioContacto {
    margin: 40px;
    padding: 20px;
    width: 90%;
    border: 0px;
    border-radius: 20px;
    background-color: #f2f2f2;

}

#emailSuscripcion {
    text-align: center;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4e9751;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
}

/* ----- FIN FORMULARIOS ----- */





/* ----------- TABLAS ----------- */

table {
    margin: 40px;
    background-color: rgb(223, 221, 221);
    border: groove 3px grey;

}

table th {
    text-align: center;
    height: 40px;
    border: 3px solid black;
    margin: 5px;
    padding: 5px;
}

table tr td {
    height: 30px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

/* --------- FIN TABLAS --------- */